{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Template Catalogue{% endblock %}

{% block content %}
{#- We want to render the templates in a grid in rows of 3 #}
{%- for item in items %}
    {%- if ( loop.index0 % 3 ) == 0 %}
    <div class="row panel-grid-row">
    {%- endif %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><code>{{ item.name }}</code></div>
                <div class="panel-body">
                    {%- if item.allow_inbound %}
                        <div class="alert alert-info">
                            <i class="fa fa-globe"></i> Allows inbound traffic from the internet
                        </div>
                    {%- endif %}
                    {{ item.description|default('No description', true)|safe }}
                </div>
                <div class="panel-footer">
                    <a href="{{ request.route_url('new_machine', id = item.uuid) }}"
                       title="Provision machine from template" class="btn btn-primary btn-block">
                        <i class="fa fa-pencil"></i>&nbsp; Use template
                    </a>
                </div>
            </div>
        </div>
    {%- if ( loop.index0 % 3 ) == 2 or loop.last  %}
    </div>
    {%- endif %}
{%- endfor %}
</div>
{% endblock %}