{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Add to catalogue{% endblock %}

{% from 'templates/form_group.jinja2' import form_group_with_errors with context %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <form class="form-horizontal confirm disable-on-submit working" method="POST"
          data-confirm-message="Adding to the catalogue will destroy the source machine. Continue?"
          action="{{ request.route_url('catalogue_new', id = machine.id) }}">
        <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
        
        {%- call form_group_with_errors("name", "Catalogue item name") %}
            <input name="name" type="text" class="form-control" value="{{ item.name }}" required
                   pattern="[a-zA-Z0-9_]+" title="Must use alphanumeric and _ characters only" placeholder="Required" />
        {%- endcall %}
        
        {%- call form_group_with_errors("source", "Source machine") %}
            <p class="form-control-static"><code>{{ machine.name }}</code></p>
            <span class="help-block">Ensure <code>/root/vappclean.sh</code> has been run on the source machine before adding to the catalogue.</span>
            <span class="help-block">The source machine will be destroyed after it has been added to the catalogue.</span>
        {%- endcall %}
        
        {%- call form_group_with_errors("description", "Description") %}
            <textarea name="description" class="form-control" rows="5" placeholder="Optional...">{{ item.description }}</textarea>
            <span class="help-block">Description may use <a href="http://daringfireball.net/projects/markdown/">Markdown</a> formatting.</span>
        {%- endcall %}
        
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="allow_inbound" value="true" {% if item.allow_inbound == "true" %}checked{% endif %} />
                        Allow inbound traffic from the internet
                    </label>
                </div>
                <span class="help-block">
                    If checked, machines provisioned using the catalogue item will have NAT and firewall rules
                    applied to allow inbound traffic from the internet.
                </span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button name="submitted" type="submit" class="btn btn-primary" autocomplete="off">Add to catalogue</button>
                <span class="working-message text-muted hidden">Working...</span>
            </div>
        </div>
    </form>
</div>
{% endblock %}