{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Template Catalogue{% endblock %}

{% block content %}
{#- We want to render the images in a grid in rows of 4 #}
{%- for item in items %}
    {%- if ( loop.index0 % 4 ) == 0 %}
    <div class="row panel-grid-row">
    {%- endif %}
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><code>{{ item.name }}</code></div>
                <div class="panel-body">{{ item.description|default('No description', true) }}</div>
                <div class="panel-footer">
                    <a href="{{ request.route_url('new_machine', id = item.id) }}"
                       title="Provision machine from template" class="btn btn-primary btn-block">
                        <i class="fa fa-pencil"></i>&nbsp; Use template
                    </a>
                </div>
            </div>
        </div>
    {%- if ( loop.index0 % 4 ) == 3 %}
    </div>
    {%- endif %}
{%- endfor %}
</div>
{% endblock %}