{% extends "templates/layout.jinja2" %}

{#-
    If there is a vCD session, this page will say that they have insufficient permission
    If there is not a vCD session, prompt them to log in 
#}

{% block pagetitle %}Access Denied{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-circle"></i>
            {%- if request.vcd_sesssion %}
                <span>You have insufficient permissions to access this resource.</span>
            {%- else %}
                <span>Please log in to access this resource.</span>
            {%- endif %}
        </div>
    </div>
{% endblock %}