{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Available machines{% endblock %}

{% block content %}
<div class="row">
    <ul class="pull-right actions">
        <li>
            <a title="New machine" href="{{ request.route_url('catalogue') }}" class="btn btn-success">
                <i class="fa fa-desktop"></i>&nbsp; New machine
            </a>
        </li>
        <li>
            <a title="Refresh machines" href="{{ request.route_url('machines') }}" class="btn btn-info">
                <i class="fa fa-refresh"></i>&nbsp; Refresh
            </a>
        </li>
    </ul>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Operating System</th>
                <th>Internal IP</th>
                <th>External IP</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%- for machine in machines %}
                <tr>
                    <td><code>{{ machine.name }}</code></td>
                    <td>
                        {%- if machine.status.is_on() %}
                            {%- set label_type = "success" %}
                        {%- elif machine.status.is_warning() %}
                            {%- set label_type = "warning" %}
                        {%- elif machine.status.is_error() %}
                            {%- set label_type = "danger" %}
                        {%- else %}
                            {%- set label_type = "info" %}
                        {%- endif %}
                        <span class="label label-{{ label_type }}">{{ machine.status.value }}</span>
                    </td>
                    <td>{{ machine.os }}</td>
                    <td><code>{{ machine.internal_ip|default('-', true) }}</code></td>
                    <td><code>{{ machine.external_ip|default('-', true) }}</code></td>
                    <td>{{ machine.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>
                        <a class="btn btn-default btn-xs confirm" title="Add to catalogue"
                           data-confirm-message="<p>Ensure you have run <code>/root/vappclean.sh</code>
                                                 to prepare the machine for the catalogue before proceeding.</p>
                                                 <p>This will render the machine unusable for anything other
                                                 than adding to the catalogue.</p>"
                           href="{{ request.route_url('catalogue_new', id = machine.id) }}">
                            <i class="fa fa-fw fa-book"></i>
                            <span class="sr-only">Add to catalogue</span>
                        </a>
                        <form class="disable-on-submit power-action" autocomplete="off" method="POST"
                              action="{{ request.route_url('machine_action', id = machine.id) }}">
                            <input name="action" type="hidden" value="start" />
                            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
                            <button title="Power On" type="submit" class="btn btn-success btn-xs">
                                <i class="fa fa-fw fa-play"></i>
                                <span class="sr-only">Power On</span>
                            </button>
                        </form>
                        <form class="disable-on-submit power-action" autocomplete="off" method="POST"
                              action="{{ request.route_url('machine_action', id = machine.id) }}">
                            <input name="action" type="hidden" value="destroy" />
                            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
                            <button title="Power Off" type="submit" class="btn btn-warning btn-xs">
                                <i class="fa fa-fw fa-power-off"></i>
                                <span class="sr-only">Power Off</span>
                            </button>
                        </form>
                        <form class="disable-on-submit power-action" autocomplete="off" method="POST"
                              action="{{ request.route_url('machine_action', id = machine.id) }}">
                            <input name="action" type="hidden" value="restart" />
                            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
                            <button title="Restart" type="submit" class="btn btn-info btn-xs">
                                <i class="fa fa-fw fa-repeat"></i>
                                <span class="sr-only">Restart</span>
                            </button>
                        </form>
                        <form class="disable-on-submit power-action confirm" autocomplete="off" method="POST"
                              action="{{ request.route_url('machine_action', id = machine.id) }}"
                              data-confirm-message="Are you sure? Once deleted, a machine cannot be restored!">
                            <input name="action" type="hidden" value="delete" />
                            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
                            <button title="Delete" type="submit" class="btn btn-danger btn-xs">
                                <i class="fa fa-fw fa-ban"></i>
                                <span class="sr-only">Delete</span>
                            </button>
                        </form>
                        {#- Progress bar - hidden initially, but made visible by Javascript on submit #}
                        <div class="progress hidden">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%">Working...</div>
                        </div>
                    </td>
                </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>
{% endblock %}