{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Provision a machine{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <form method="POST" action="{{ request.route_url('new_machine', id = image.uuid) }}" class="form-horizontal disable-on-submit provisioning">
        <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Machine name</label>
            <div class="col-sm-9">
                <input name="name" type="text" class="form-control" value="{{ name }}" required
                       pattern="[a-zA-Z0-9_]+" title="Name must use only alphanumeric and _ characters" placeholder="Required" />
                <span class="help-block">Name must use only alphanumeric and _ characters</span>
            </div>
        </div>
        <div class="form-group">
            <label for="image_id" class="col-sm-3 control-label">Template</label>
            <div class="col-sm-9">
                <p class="form-control-static"><code>{{ image.name }}</code></p>
                {%- if image.allow_inbound %}
                    <span class="help-block">This template <strong>allows</strong> inbound traffic from the internet.</span>
                {%- else %}
                    <span class="help-block">This template does <strong>not</strong> allow inbound traffic from the internet.</span>
                {%- endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea name="description" class="form-control" rows="5" placeholder="Optional...">{{ description }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">SSH Public Key</label>
            <div class="col-sm-9">
                <textarea name="ssh-key" class="form-control" rows="5" placeholder="Required" required>{{ ssh_key }}</textarea>
                <span class="help-block">Root access to the provisioned machine will be granted to the holder of the corresponding private key.</span>
                <span class="help-block">For help generating SSH keys, see <a href="http://jasmin.ac.uk/workflow/ssh-keys/">the main JASMIN site</a>.</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button name="submitted" type="submit" class="btn btn-primary" autocomplete="off">Provision machine</button>
                <span class="working-message text-muted hidden">Provisioning...</span>
            </div>
        </div>
    </form>
</div>
{% endblock %}