{% extends "templates/layout.jinja2" %}

{% block pagetitle %}404 Not Found{% endblock %}

{% block content %}
<div class="panel panel-danger">
    <div class="panel-heading">No such resource</div>
    <div class="panel-body">
        <p>The resource you were looking for could not be found.</p>
    </div>
</div>
{% endblock %}