{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Not Found{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        <span>The resource you are looking for could not be found.</span>
    </div>
</div>
{% endblock %}