{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Profile information{% endblock %}

{% macro form_group(field_name, display_name, show_errors = True) %}
    {%- set has_errors = field_name in errors %}
    <div class="form-group{% if has_errors %} has-error{% endif %}">
        <label for="{{ field_name }}" class="col-sm-3 control-label">{{ display_name }}</label>
        <div class="col-sm-9">
            {{ caller() }}
            {%- if show_errors %}
                {%- for err in errors.get(field_name, []) %}
                    <span class="help-block">{{ err }}</span>
                {%- endfor %}
            {%- endif %}
        </div>
    </div>
{% endmacro %}

{% block content %}
<div class="col-md-8 col-md-offset-2 form-horizontal">
    <form method="POST" action="{{ request.route_url('profile') }}" class="form-horizontal disable-on-submit">
        <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
        
        {%- call form_group("userid", "Username") %}
            <p class="form-control-static"><code>{{ user.userid }}</code></p>
        {%- endcall %}
        
        {%- call form_group("email", "Email address") %}
            <input name="email" type="email" class="form-control"
                   value="{{ user.email|default('', true) }}" required placeholder="Required" />
        {%- endcall %}
        
        {%- call form_group("first_name", "First name") %}
            <input name="first_name" type="text" class="form-control"
                   value="{{ user.first_name|default('', true) }}" required placeholder="Required" />
        {%- endcall %}
        
        {%- call form_group("surname", "Surname") %}
            <input name="surname" type="text" class="form-control"
                   value="{{ user.surname|default('', true) }}" required placeholder="Required" />
        {%- endcall %}
        
        {%- call form_group("ssh_key", "SSH Public Key", False) %}
            <textarea name="ssh_key" class="form-control" rows="5" placeholder="Required" required>{{ user.ssh_key|default('', true) }}</textarea>
            <span class="help-block">This will be the default SSH key for the <code>root</code> user of any machines you provision.</span>
            <span class="help-block">For help generating SSH keys, see <a href="http://jasmin.ac.uk/workflow/ssh-keys/">the main JASMIN site</a>.</span>
        {%- endcall %}
        
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button name="submitted" type="submit" class="btn btn-primary" autocomplete="off">Update profile</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}