.1-pad {
padding: 1em;
}

nav, #helpmenu {
margin-left: 1em;
margin-top: 5em;
}

#items {
margin-left: 2em;
}

ul {
list-style-type: none;
}

.host.down {
font-weight: lighter;
background-color: gainsboro;
}

.host.requested {
font-weight: lighter;
background-color: gainsboro;
}

body {
	margin: 0px;
}

.maincontainer {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.banner {
	background-image: url('/static/img/eos.jpg');
	background-size:100%;
	/* height: 140px; */
	width: 100%;
	position: relative;
	top: 30px;
	color: white;
	margin-bottom: 48px;
}

.banner h1 {
	font-size: 40px !important;
}

.welcome {
	color: #eee;
	padding: 15px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	line-height: 20px;
	float: left;
}

.banner-inner {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	padding-top: 34px;
}

#items {
overflow: auto;
height: 1024px;
}

#items ul li {
border-radius: 6px;
border: 6px solid gainsboro;
padding: 1em 1em 1em 2em;
margin: 0.3em 0 0.3em 0;
}

dl.hostview dt{
display: none;
}

dl.hostview dd{
padding: 0.5em 0.5em 0.5em 0.5em;
}

dl.publickey dd{
font-family: monospace;
padding: 3em 2em 1em 1em;
width: 40em;
word-wrap: break-word;
}

dt {
clear: left;
color: green;
float: left;
text-align: right;
text-transform:capitalize;
width: 100px;
}

dt:after {
content: ":";
}

dl.hostview dd.name {
font-weight: bold;
}

dl.membershipview dd {
margin: 0 0 0 9em;
padding: 0 0 0.5em 0;
}

legend {
margin: 0 0 0 0;
/*text-shadow: 0px 2px 3px #555;*/
}

.throbber {
	opacity:0;
}

