# Exclude the dockerfile itself
Dockerfile

# Exclude pyenv environment file
.python-version

# Exclude Python caches
**/__pycache__
*.egg-info

# Exclude directories not used in the image
ansible
scripts
