*.class
*.pyc
*.pyo
*.class
py3venv
*~
*.deb
*.gz
id_*.pub
*__/
*.egg-info/
build/
docs/_build
dist/
*.swp
.coverage
htmlcov
application.ini
development.ini
production.ini
catalogue.json
jasmin_portal/test/vcd_settings.py
