appdirs==1.4.3
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
deprecation==2.0
Django==2.0.3
djangorestframework==3.7.7
docutils==0.14
dogpile.cache==0.6.5
idna==2.6
iso8601==0.1.12
-e git+https://github.com/cedadev/jasmin-django-utils.git@4b1b140abca73d5001a74cf9647a17e7f72c9219#egg=jasmin_django_utils
-e git+https://github.com/cedadev/jasmin-ldap.git@9d62daaeaecca56e320b86f68bee2ad2f745a0ca#egg=jasmin_ldap
jmespath==0.9.3
jsonpatch==1.21
jsonpointer==2.0
keystoneauth1==3.4.0
ldap3==2.4.1
munch==2.2.0
netifaces==0.10.6
openstacksdk==0.12.0
os-service-types==1.2.0
packaging==17.1
pbr==3.1.1
psycopg2==2.7.4
pyasn1==0.4.2
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
PyYAML==3.12
requests==2.18.4
requestsexceptions==1.4.0
six==1.11.0
stevedore==1.28.0
urllib3==1.22
