{{- $component := "api" -}}
{{- $values := get .Values $component -}}
{{- if $values.monitoring.enabled -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "azimuth.componentname" (list . $component) }}
  labels:
    {{- /* This label must match .podMonitorSelector.matchLabels of the Prometheus cluster resource */}}
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels: {{ include "azimuth.componentLabels" (list . $component) | nindent 6 }}
      api.kubernetes.io/sub-component: {{ include "azimuth.componentname" (list . $component) }}-statsd-exporter
  endpoints:
  - port: metrics
  namespaceSelector:
    matchNames: 
    # Restrict the ServiceMonitor to the relevant namespace
    - {{ .Release.Namespace }}
{{ end }}