{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Template Catalogue{% endblock %}

{% block content %}
{#- We want to render the templates in a grid in rows of 4 #}
{%- for item in items %}
    {%- if ( loop.index0 % 4 ) == 0 %}
    <div class="row panel-grid-row">
    {%- endif %}
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <code>{{ item.name }}</code>
                    {%- if not item.is_public %}
                        <form class="disable-on-submit confirm pull-right" autocomplete="off" method="POST"
                              action="{{ request.route_url('catalogue_delete', id = item.id) }}"
                              data-confirm-message="Are you sure? Once deleted, a catalogue item cannot be restored!">
                            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
                            <button title="Delete" type="submit" class="btn btn-default btn-xs">
                                <i class="fa fa-fw fa-remove"></i>
                                <span class="sr-only">Delete</span>
                            </button>
                        </form>
                    {%- endif %}
                </div>
                <div class="panel-body">
                    {{ item.description|default('No description', true)|safe }}
                </div>
                <div class="panel-footer">
                    <a href="{{ request.route_url('new_machine', id = item.id) }}"
                       title="Provision machine from template" class="btn btn-primary btn-block">
                        <i class="fa fa-pencil"></i>&nbsp; Use template
                    </a>
                </div>
            </div>
        </div>
    {%- if ( loop.index0 % 4 ) == 3 or loop.last  %}
    </div>
    {%- endif %}
{%- else %}
    <div class="col-md-12">No catalogue items available.</div>
{%- endfor %}
</div>
{% endblock %}