{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Dashboard{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <h2 class="panel-heading">Available organisations</h2>

        {%- if org_names %}
            <div class="list-group">
                {%- for org in org_names %}
                    <a href="{{ request.route_url('machines', org = org) }}" class="list-group-item">
                        {%- if org in machine_counts %}
                            <span class="badge">{{ machine_counts[org] }} machines</span>
                        {%- elif org in errors %}
                            <span class="badge badge-danger">{{ errors[org] }}</span>
                        {%- endif %}
                        {{ org }}
                    </a>
                {%- endfor %}
            </div>
        {%- else %}
            <div class="panel-body">You do not belong to any organisations.</div>
        {%- endif %}
    </div>
</div>
{% endblock %}
