{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Frequently Asked Questions{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">Questions</div>
</div>
{% endblock %}
