{% extends "templates/layout.jinja2" %}

{% block pagetitle %}Available machines{% endblock %}

{% block content %}
<div class="row">
    <ul class="pull-right actions">
        <li>
            <a title="New machine" href="{{ request.route_url('catalogue') }}" class="btn btn-success">
                <i class="fa fa-desktop"></i>&nbsp; New machine
            </a>
        </li>
        <li>
            <a title="Refresh machines" href="{{ request.route_url('machines') }}" class="btn btn-info">
                <i class="fa fa-refresh"></i>&nbsp; Refresh
            </a>
        </li>
    </ul>
</div>

<div class="row">
    <table class="table table-striped">
        <caption>{{ machines|length }} machine{% if machines|length != 1 %}s{% endif %}</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th style="white-space : nowrap;">Operating System</th>
                <th style="white-space : nowrap;">Internal IP</th>
                <th style="white-space : nowrap;">External IP</th>
                <th>Created</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%- for machine in machines %}
                <tr>
                    <td><code>{{ machine.name }}</code></td>
                    <td>
                        {%- if machine.status.is_on() %}
                            {%- set label_type = "success" %}
                        {%- elif machine.status.is_warning() %}
                            {%- set label_type = "warning" %}
                        {%- elif machine.status.is_error() %}
                            {%- set label_type = "danger" %}
                        {%- else %}
                            {%- set label_type = "info" %}
                        {%- endif %}
                        <span class="label label-{{ label_type }}">{{ machine.status.value }}</span>
                    </td>
                    <td>{{ machine.os }}</td>
                    <td><code>{{ machine.internal_ip|default('-', true) }}</code></td>
                    <td><code>{{ machine.external_ip|default('-', true) }}</code></td>
                    <td style="white-space : nowrap;">{{ machine.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td><code>{{ machine.owner }}</code></td>
                    <td style="white-space : nowrap; width : 1%;">
                        {%- if request.active_cloud_session.has_permission('CAN_CREATE_TEMPLATES') %}
                            <a class="btn btn-default btn-xs confirm" title="Add to catalogue"
                               data-confirm-message="<p>Ensure you have run <code>/root/vappclean.sh</code>
                                                     to prepare the machine for the catalogue before proceeding.</p>
                                                     <p>This will render the machine unusable for anything other
                                                     than adding to the catalogue.</p>"
                               href="{{ request.route_url('catalogue_new', id = machine.id) }}">
                                <i class="fa fa-fw fa-book"></i>
                                <span class="sr-only">Add to catalogue</span>
                            </a>
                        {%- endif %}
                        <button class="btn btn-primary btn-xs btn-reconfigure-machine"
                                title="Reconfigure machine resources"
                                data-cpu-ram-action="{{ request.route_url('machine_reconfigure', id = machine.id) }}"
                                data-add-disk-action="{{ request.route_url('machine_add_disk', id = machine.id) }}"
                                data-cpus="{{ machine.cpus }}" data-ram="{{ machine.ram }}"
                                data-disks='[{% for disk in machine.disks %}{ "name":"{{ disk.name }}", "size":{{ disk.size }} }{% if not loop.last %},{% endif %}{%- endfor %}]'>
                            <i class="fa fa-fw fa-gears"></i>
                            <span class="sr-only">Reconfigure machine resources</span>
                        </button>
                        <form class="working" data-working-message="Starting machine..."
                              autocomplete="off" method="POST"
                              action="{{ request.route_url('machine_action', id = machine.id) }}">
                            <input name="action" type="hidden" value="start" />
                            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
                            <button title="Power On" type="submit" class="btn btn-success btn-xs">
                                <i class="fa fa-fw fa-play"></i>
                                <span class="sr-only">Power On</span>
                            </button>
                        </form>
                        <form class="working" data-working-message="Stopping machine..."
                              autocomplete="off" method="POST"
                              action="{{ request.route_url('machine_action', id = machine.id) }}">
                            <input name="action" type="hidden" value="stop" />
                            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
                            <button title="Power Off" type="submit" class="btn btn-warning btn-xs">
                                <i class="fa fa-fw fa-power-off"></i>
                                <span class="sr-only">Power Off</span>
                            </button>
                        </form>
                        <form class="working" data-working-message="Restarting machine..."
                              autocomplete="off" method="POST"
                              action="{{ request.route_url('machine_action', id = machine.id) }}">
                            <input name="action" type="hidden" value="restart" />
                            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
                            <button title="Restart" type="submit" class="btn btn-info btn-xs">
                                <i class="fa fa-fw fa-repeat"></i>
                                <span class="sr-only">Restart</span>
                            </button>
                        </form>
                        <form class="working confirm" data-working-message="Deleting machine..."
                              autocomplete="off" method="POST"
                              action="{{ request.route_url('machine_action', id = machine.id) }}"
                              data-confirm-message="Are you sure? Once deleted, a machine cannot be restored!">
                            <input name="action" type="hidden" value="delete" />
                            <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />
                            <button title="Delete" type="submit" class="btn btn-danger btn-xs">
                                <i class="fa fa-fw fa-ban"></i>
                                <span class="sr-only">Delete</span>
                            </button>
                        </form>
                    </td>
                </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>

{#- Template for machine resources popup #}
<script type="text/template" id="resources-popup-template">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#cpu-ram" aria-controls="cpu-ram" role="tab" data-toggle="tab">CPU &amp; RAM</a>
        </li>
        <li role="presentation">
            <a href="#hard-disks" aria-controls="hard-disks" role="tab" data-toggle="tab">Hard disks</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="cpu-ram">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <form class="form-horizontal working"
                          data-working-message="Reconfiguring CPU and RAM..."
                          autocomplete="off" method="POST" action="<%= cpu_ram_action %>">
                        <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />

                        <div class="form-group">
                            <label for="cpus" class="col-sm-3 control-label">CPUs</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="cpus" type="number" min="1" step="1" value="<%= cpus %>" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ram" class="col-sm-3 control-label">RAM</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input class="form-control" name="ram" type="number" min="1" step="1" value="<%= ram %>" required />
                                    <div class="input-group-addon">GB</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button name="submitted" type="submit" class="btn btn-primary" autocomplete="off">Reconfigure</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="hard-disks">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <form class="working"
                          data-working-message="Adding hard disk..."
                          autocomplete="off" method="POST" action="<%= add_disk_action %>">
                        <input name="csrf_token" type="hidden" value="{{ request.session.get_csrf_token() }}" />

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(disks, function(disk) { %>
                                    <tr>
                                        <td style="white-space : nowrap;"><code><%= _.escape(disk.name) %></code></td>
                                        <td style="white-space : nowrap;"><%= _.escape(disk.size) %> GB</td>
                                        <td></td>
                                    </tr>
                                <% }); %>
                                {% if request.active_cloud_session.has_permission('CAN_ADD_DISK') %}
                                    <tr>
                                        <td style="white-space : nowrap; vertical-align : middle;">
                                            <label for="disk-size">Add a new disk</label>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control" name="disk-size" type="number" min="1" step="1" placeholder="Size of disk" required />
                                                    <div class="input-group-addon">GB</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button title="Add disk" type="submit" class="btn btn-success">
                                                <i class="fa fa-fw fa-plus"></i>
                                                <span class="sr-only">Add disk</span>
                                            </button>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3" class="text-muted">Adding a hard disk is disabled for this tenancy.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

{#- Javascript controlling the machine resources popup #}
<script type="text/javascript">
var resourcestpl = _.template($('#resources-popup-template').html());

// Respond to clicks on the reconfigure buttons by popping a dialog
$('.btn-reconfigure-machine').on('click', function(event) {
    var button = $(this);
    var content = resourcestpl({
        cpu_ram_action  : button.data('cpu-ram-action'),
        add_disk_action : button.data('add-disk-action'),
        cpus            : button.data('cpus'),
        ram             : button.data('ram'),
        disks           : button.data('disks')
    });
    var dialog = bootbox.dialog({
        title : 'Machine resources',
        message : content,
    });
    // Hide the dialog when any form in it is submitted
    var form = dialog.find('form').on('submit-confirmed', function() { dialog.modal('hide'); });
});
</script>
{% endblock %}
