anyio==3.5.0
asgiref==3.5.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
Django==4.0.4
django-settings-object @ git+https://github.com/cedadev/django-settings-object.git@2b66c0fc5eae92972df5210b4bc43f7d95ad9ceb
djangorestframework==3.13.1
docutils==0.18.1
easykube @ git+https://github.com/stackhpc/easykube.git@e9cb85fabb6466aa041788fdaebd05fe60ce9185
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
jasmin-ldap @ git+https://github.com/cedadev/jasmin-ldap.git@3e1d2659731e9e1a65e8723b4e72c776ae7f7b25
Jinja2==3.1.2
ldap3==2.9.1
MarkupSafe==2.1.1
pyasn1==0.4.8
pycparser==2.21
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
rackit @ git+https://github.com/stackhpc/rackit.git@cb2da480f9fc99f36cc777d58dfbccec33434879
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
urllib3==1.26.9
voluptuous==0.13.1
